dotenv .env

if has go; then
	PATH_add "$(go env GOPATH)/bin"
else
	log_status "warning: go is not installed"
fi

if has aqua; then
	PATH_add "$(aqua root-dir)/bin"
	aqua install --only-link
else
	log_status "warning: aqua is not installed"
fi
