SERVICE_APP_ENV=dev
SERVICE_APP_PORT=8080
SERVICE_POSTGRES_HOST=localhost
SERVICE_POSTGRES_PORT=5432
SERVICE_POSTGRES_USER=pitchondb
SERVICE_POSTGRES_PASSWORD=pitchondb
SERVICE_POSTGRES_DB=pitchondb
SERVICE_POSTGRES_SSLMODE=disable
